@import "../mixins/layout";
@import "../mixins/sizing";

.#{$PROJECT} {

  &__BlockHelp {
    font-family: 'Signika', sans-serif;
    font-weight: 300;
  }

  &__BlockHelpHeader {
    @include flex();
    @include flexRow();
    padding: 5px;
  }

  &__BlockHelpTitle {
    @include flex();
    flex: 1;
    font-size: 17px;
  }

  &__BlockHelpContent {
    width: 280px;
    max-height: 150px;
    overflow-y: scroll;
    color: #636363;
    padding: 5px;
    font-size: 15px;
  }

  &__BlockHelpParams {
    margin-top: 5px;

    ul {
      @include resetMarginAndPadding();
      @include flex();
      @include flexColumn();
      margin-top: 5px;
    }

    li {
      @include flex();
      @include flexRow();
      padding: 4px 0 4px 0;
    }

  }

  &__BlockHelpParamsTitle {
    color: #2f2f2f;
    font-weight: 400;
  }

  &__BlockHelpParamLabel {
    font-weight: 400;
    width: 70px;
    max-width: 70px;
    min-width: 70px;
    margin-right: 5px;
  }

  &__BlockHelpMoreLink {
    color: #2346c3;
    text-decoration: none;
    text-align: right;

    &:hover {
      color: #2346c3;
      text-decoration: underline;
    }
  }

  &__BlockHelpMoreLinkContainer {
    text-align: right;
  }

  &__BlockHelpClose > button {
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    color: rgba(255, 255, 255, 0.9);
    overflow: hidden;
    padding: 0;
    width: 20px;
    height: 20px;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
  }

}
